<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Resume - <%= student.firstName %> <%= student.lastName %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    body {
      padding:0;
      margin: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      padding-top: 0; 
    }

    .heading {
      height: 8rem;
      background: #5c5858;
      padding: 1rem 1.5rem;
    }

    .heading h1 {
      color: white;
      font-size: 3rem;
      letter-spacing: 1rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .heading p {
      color: white;
      font-size: 1.5rem;
      letter-spacing: 0.5rem;
    }
    
    h1 {
      font-size: 30px;
      font-weight: bold;
      color: #111;
      margin: 0;
    }

    h2 {
      font-size: 18px;
      color: #0051a2;
      text-transform: uppercase;
    }

    @media (max-width: 768px) {
      .heading {
        height: auto;
        padding: 1rem;
        text-align: left;
      }

      .heading h1 {
        font-size: 2rem;
        letter-spacing: 0.5rem;
      }

      .heading p {
        font-size: 1rem;
        letter-spacing: 0.3rem;
      }
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="heading">
      <h1><%= student.firstName %> <%= student.lastName || '' %></h1>
      <% if (student.experiences && student.experiences.length > 0) { 
        const lastExp = student.experiences[student.experiences.length - 1]; %>
        <p><%= lastExp.position %></p>
      <% } %>
    </div>

    <div class="container">
        <div class="section">
          <h2 class="section-title">Work Experience</h2>
          <% student.experiences?.forEach(exp => { %>
            <p><strong><%= exp.company_name %></strong> || <%= exp.position %></p>
            <p><%= exp.duration %></p>
            <p><%=exp.desc %>Description</p>
            <br>
          <% }) %>
          <hr>
        </div>

         <div class="section">
          <h2 class="section-title">Skills</h2>
            <% student.skills?.forEach((skill,index) => { %>
              <%= skill %> <%= index < student.skills.length - 1 ? ', ' : '' %>
            <% }) %>
          <hr>
        </div>  


        <% if (student.certifications?.length > 0) { %>
          <div class="section">
            <h2 class="section-title">Certifications</h2>
              <% student.certifications.forEach(cert => { %>
                <li>
                  <%= cert.name %>
                  <% if (cert.link) { %>
                    - <a href="<%= cert.link %>" target="_blank">Link</a>
                  <% } %>
                </li>
              <% }) %>
            <hr>
          </div>
        <% } %>

      <div class="section">
          <h2 class="section-title">Projects</h2>
          <% student.projects?.forEach(project => { %>
            <p><strong><%= project.project_name %> || <%= project.role %></strong></p>
            <p><%= project.desc %></p>
            <p><strong>Tech Used:</strong> <%= project.tech_uses?.join(', ') %></p>
            <% if (project.project_link) { %>
              <p><strong>Link:</strong> <a href="<%= project.project_link %>" target="_blank"><%= project.project_link %></a></p>
            <% } %><br>
          <% }) %>
          <hr>
      </div>

      
      <div class="section">
        <h2 class="section-title">Education</h2>
        <% student.academicDetails?.forEach(edu => { %>
          <p><strong><%= edu.schoolInstitute %> | </strong> <%= edu.education %> || <%= edu.passYear %></p>
          <p><strong>Board:</strong> <%= edu.boardUniversity %></p>
          <p><strong>GPA/CGPA:</strong> <%= edu.percentage %></p><br>
        <% }) %>
        <hr>
      </div>

    </div>
    

  </div>
</body>
</html>
